.DS_Store
venv
*.png
__pycache__
Labs/lab2/report/report.bbl
Labs/lab2/report/report.fdb_latexmk
Labs/lab2/report/report.fls
Labs/lab2/report/report.log
Labs/lab2/report/report.out
Labs/lab2/report/report.aux
Labs/lab2/report/report.pdfsync
Labs/lab2/report/report.run.xml
Labs/lab2/report/report.synctex.gz
Labs/lab2/report/report.toc
Labs/lab3/exercise-dl4cv/code/data/2d_pcl_dataset.npz
Labs/lab3/exercise-dl4cv/code/data/cifar-10-python.tar.gz
Labs/lab3/exercise-dl4cv/code/data/cifar-10-batches-py/batches.meta
Labs/lab3/exercise-dl4cv/code/data/cifar-10-batches-py/data_batch_1
Labs/lab3/exercise-dl4cv/code/data/cifar-10-batches-py/data_batch_2
Labs/lab3/exercise-dl4cv/code/data/cifar-10-batches-py/data_batch_3
Labs/lab3/exercise-dl4cv/code/data/cifar-10-batches-py/data_batch_4
Labs/lab3/exercise-dl4cv/code/data/cifar-10-batches-py/data_batch_5
Labs/lab3/exercise-dl4cv/code/data/cifar-10-batches-py/test_batch
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/t10k-images-idx3-ubyte
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/t10k-images-idx3-ubyte.gz
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/t10k-labels-idx1-ubyte
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/train-images-idx3-ubyte
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/train-images-idx3-ubyte.gz
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/train-labels-idx1-ubyte
Labs/lab3/exercise-dl4cv/code/data/MNIST/raw/train-labels-idx1-ubyte.gz
Labs/lab4/exercise4_object_recognition_code/data
Labs/lab4/exercise4_object_recognition_code/output.txt
Labs/lab4/exercise4_object_recognition_code/condaenv.1c2ua1t1.requirements.txt
